@tailwind base;
@tailwind components;
@tailwind utilities;

@import url("https://fonts.googleapis.com/css2?family=Jura&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Raleway&display=swap");

.text-tertiary {
  color: #64ccc5;
}
.text-highlight {
  color: #176b87;
}
.text-secondary {
  color: #001c30;
}
.text-primary {
  color: #dafffb;
}

.bg-tertiary {
  color: #64ccc5;
}
.bg-highlight {
  color: #176b87;
}
.bg-secondary {
  color: #001c30;
}
.bg-primary {
  color: #dafffb;
}

.header-primary {
  font-size: 30px;

  font-family: "Black Ops One", cursive;
}

body {
  background-color: #dafffb;
}
.font-header {
  font-family: "Jura", sans-serif;
  font-weight: 800;
}
.font-body {
  font-family: "Raleway", sans-serif;
}

.banner2 {
  background-image: url("../public/images/g.png");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  width: 100vw;
  height: 100%;
  margin-left: calc(-50vw + 50%);
}
.banner1 {
  background-image: linear-gradient(
      to right,
      rgba(0, 0, 0, 0.5),
      rgba(0, 0, 0, 0.5)
    ),
    url("../public/images/about.jpg");
  background-blend-mode: multiply;
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  width: 100vw;
  height: 100%;
  margin-left: calc(-50vw + 50%);
}
