@tailwind base;
@tailwind components;
@tailwind utilities;

@import url("https://fonts.googleapis.com/css2?family=Jura&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Raleway&display=swap");

.header-primary {
  font-size: 30px;

  font-family: "Black Ops One", cursive;
}
.font-header {
  font-family: "Jura", sans-serif;
  font-weight: 800;
}
.font-body {
  font-family: "Raleway", sans-serif;
}

.banner2 {
  background-image: url("../public/images/banner2.svg");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  width: 100vw;
  height: 100%;
  margin-left: calc(-50vw + 50%);
}
.banner1 {
  background-image: url("../public/images/car.jpg");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  width: 100vw;
  height: 100%;
  margin-left: calc(-50vw + 50%);
}
